<%
  var color = color || 'inherit',
      size = size || '1em'
%>

<span class="icon <%= 'icon-' + name %>">
  <% if (name === 'twitter') { %>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="47.205 973 25.59 20.798"
    width="<%= size %>"
    height="<%= size %>">
    <path d=" M 72.795 975.466 C 71.855 975.884 70.842 976.166 69.78 976.294 C 70.876 975.637 71.696 974.604 72.088 973.388 C 71.057 974 69.929 974.431 68.753 974.662 C 67.127 972.926 64.538 972.499 62.441 973.622 C 60.344 974.745 59.264 977.137 59.808 979.452 C 55.586 979.24 51.652 977.244 48.987 973.962 C 48.519 974.765 48.274 975.678 48.276 976.607 C 48.276 978.427 49.202 980.033 50.612 980.974 C 49.778 980.95 48.962 980.725 48.233 980.318 L 48.233 980.384 C 48.233 982.883 49.994 985.036 52.443 985.533 C 51.993 985.656 51.528 985.718 51.061 985.716 C 50.721 985.716 50.393 985.685 50.073 985.622 C 50.76 987.76 52.73 989.225 54.975 989.267 C 53.116 990.728 50.819 991.52 48.455 991.513 C 48.03 991.513 47.615 991.49 47.205 991.443 C 49.606 992.985 52.399 993.802 55.252 993.798 C 64.909 993.798 70.19 985.798 70.19 978.865 C 70.19 978.635 70.186 978.408 70.174 978.181 C 71.204 977.442 72.092 976.522 72.795 975.466 Z "
      fill="<%= color %>"/>
    </svg>
  </svg>

  <% } else if (name === 'github') { %>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="47.487 930 25.025 24.409"
    width="<%= size %>"
    height="<%= size %>">
    <path d=" M 60 930 C 53.088 930 47.487 935.6 47.487 942.513 C 47.487 948.039 51.072 952.731 56.045 954.386 C 56.673 954.501 56.9 954.117 56.9 953.783 C 56.9 953.485 56.889 952.699 56.884 951.656 C 53.402 952.41 52.669 949.978 52.669 949.978 C 52.098 948.532 51.28 948.145 51.28 948.145 C 50.143 947.372 51.365 947.388 51.365 947.388 C 52.62 947.478 53.28 948.675 53.28 948.675 C 54.395 950.59 56.208 950.036 56.921 949.718 C 57.036 948.908 57.361 948.357 57.715 948.044 C 54.938 947.73 52.017 946.655 52.017 941.861 C 52.017 940.492 52.506 939.376 53.304 938.5 C 53.177 938.187 52.746 936.912 53.426 935.19 C 53.426 935.19 54.477 934.856 56.868 936.472 C 57.889 936.195 58.942 936.054 60 936.053 C 61.064 936.057 62.134 936.195 63.132 936.472 C 65.523 934.856 66.57 935.19 66.57 935.19 C 67.254 936.912 66.827 938.187 66.695 938.5 C 67.498 939.376 67.979 940.492 67.979 941.861 C 67.979 946.668 65.055 947.722 62.269 948.036 C 62.717 948.419 63.116 949.184 63.116 950.35 C 63.116 952.023 63.104 953.371 63.104 953.783 C 63.104 954.117 63.327 954.508 63.963 954.386 C 68.932 952.728 72.513 948.039 72.513 942.513 C 72.513 935.6 66.912 930 60 930 Z "
      fill-rule="evenodd"
      fill="<%= color %>"/>
  </svg>

  <% } else if (name === 'linkedin') { %>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="47.487 1015 25.59 25.59"
    width="<%= size %>"
    height="<%= size %>">
    <path d=" M 70.518 1015 L 50.046 1015 C 48.636 1015 47.487 1016.149 47.487 1017.559 L 47.487 1038.031 C 47.487 1039.441 48.636 1040.59 50.046 1040.59 L 70.518 1040.59 C 71.928 1040.59 73.077 1039.441 73.077 1038.031 L 73.077 1017.559 C 73.077 1016.149 71.928 1015 70.518 1015 Z  M 55.295 1035.472 L 51.326 1035.472 L 51.326 1024.466 L 55.295 1024.466 L 55.295 1035.472 Z  M 53.245 1023.186 C 52.096 1023.186 51.326 1022.422 51.326 1021.398 C 51.326 1020.374 52.096 1019.609 53.376 1019.609 C 54.525 1019.609 55.295 1020.373 55.295 1021.398 C 55.295 1022.421 54.525 1023.186 53.245 1023.186 Z  M 69.239 1035.472 L 65.27 1035.472 L 65.27 1029.458 C 65.27 1027.795 64.251 1027.411 63.866 1027.411 C 63.481 1027.411 62.202 1027.664 62.202 1029.458 L 62.202 1035.472 L 58.233 1035.472 L 58.233 1024.466 L 62.202 1024.466 L 62.202 1026.006 C 62.711 1025.105 63.737 1024.466 65.656 1024.466 C 67.576 1024.466 69.108 1026.006 69.108 1029.46 L 69.108 1035.472 L 69.239 1035.472 Z "
      fill="<%= color %>"/>
  </svg>

  <% } else if (name === 'google_plus') { %>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="-49 -74 40 40"
  width="<%= size %>"
  height="<%= size %>">
    <path d=" M -9 -54 C -9 -65.047 -17.953 -74 -29 -74 C -40.047 -74 -49 -65.047 -49 -54 C -49 -42.953 -40.047 -34 -29 -34 C -17.953 -34 -9 -42.953 -9 -54 L -9 -54 Z  M -17 -56 L -17 -59 L -19 -59 L -19 -59 L -19 -56 L -22 -56 L -22 -56 L -22 -54 L -19 -54 L -19 -51 L -17 -51 L -17 -54 L -14 -54 L -14 -56 L -17 -56 Z  M -25.184 -55.8 C -24.642 -53.152 -25.32 -50.401 -27.029 -48.308 C -28.738 -46.214 -31.297 -45 -34 -45 C -38.973 -45 -43 -49.027 -43 -54 C -43 -58.973 -38.973 -63 -34 -63 C -31.752 -63.003 -29.586 -62.161 -27.93 -60.641 L -30.078 -58.535 C -31.133 -59.445 -32.5 -60 -34 -60 C -37.312 -60 -40 -57.313 -40 -54 C -40 -50.883 -37.611 -48.285 -34.505 -48.024 C -31.398 -47.763 -28.61 -49.926 -28.09 -53 L -34 -53 L -34 -56 L -25.234 -56 L -25.184 -55.8 L -25.184 -55.8 Z "
      fill-rule="evenodd"
      fill="<%= color %>"/>
  </svg>

  <% } else if (name === 'facebook') { %>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="653 -162 50 50"
    width="<%= size %>"
    height="<%= size %>">
    <path d=" M 693 -162 L 663 -162 C 657.484 -162 653 -157.516 653 -152 L 653 -122 C 653 -116.484 657.484 -112 663 -112 L 693 -112 C 698.516 -112 703 -116.484 703 -122 L 703 -152 C 703 -157.516 698.516 -162 693 -162 Z  M 692 -145 L 689 -145 C 686.855 -145 686 -144.496 686 -143 L 686 -140 L 692 -140 L 691 -134 L 686 -134 L 686 -114 L 679 -114 L 679 -134 L 676 -134 L 676 -140 L 679 -140 L 679 -143 C 679 -147.676 680.582 -151 686 -151 C 688.902 -151 692 -150 692 -150 L 692 -145 Z "
    fill="<%= color %>"/>
  </svg>

  <% } else if (name === 'mail') { %>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 382.117 382.117" xml:space="preserve"
    width="<%= size %>"
    height="<%= size %>">
    <path d="M336.764,45.945H45.354C20.346,45.945,0,65.484,0,89.5v203.117c0,24.016,20.346,43.555,45.354,43.555h291.41  c25.008,0,45.353-19.539,45.353-43.555V89.5C382.117,65.484,361.772,45.945,336.764,45.945z M336.764,297.72H45.354  c-3.676,0-6.9-2.384-6.9-5.103V116.359l131.797,111.27c2.702,2.282,6.138,3.538,9.676,3.538l22.259,0.001  c3.536,0,6.974-1.257,9.677-3.539l131.803-111.274v176.264C343.664,295.336,340.439,297.72,336.764,297.72z M191.059,192.987  L62.87,84.397h256.378L191.059,192.987z"
      fill="<%= color %>"/>
  </svg>

  <% } else if (name === 'person') { %>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
    width="<%= size %>"
    height="<%= size %>">
    <g>
      <circle cx="12" cy="7.65" r="4.17"
        fill="none"
        stroke="<%= color %>"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="3px"
        />
      <path d="M2.61,20.83h0a9,9,0,0,1,9-9h.75a9,9,0,0,1,9,9h0"
        fill="none"
        stroke="<%= color %>"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="3px"
        />
    </g>
  </svg>

  <% } else if (name === 'menu') { %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      height="<%= size %>"
      width="<%= size %>">
      <path d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
      fill="<%= color %>"/>
    </svg>

  <% } else if (name === 'close') { %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"
      height="<%= size %>"
      width="<%= size %>">
      <path d="M137.051,128l75.475-75.475c2.5-2.5,2.5-6.551,0-9.051s-6.551-2.5-9.051,0L128,118.949L52.525,43.475  c-2.5-2.5-6.551-2.5-9.051,0s-2.5,6.551,0,9.051L118.949,128l-75.475,75.475c-2.5,2.5-2.5,6.551,0,9.051  c1.25,1.25,2.888,1.875,4.525,1.875s3.275-0.625,4.525-1.875L128,137.051l75.475,75.475c1.25,1.25,2.888,1.875,4.525,1.875  s3.275-0.625,4.525-1.875c2.5-2.5,2.5-6.551,0-9.051L137.051,128z"
        fill="<%= color %>"/>
    </svg>

  <% } else if (name === 'left') { %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
      height="<%= size %>"
      width="<%= size %>">
      <path clip-rule="evenodd" d="M31.106,15H3.278l8.325-8.293  c0.391-0.391,0.391-1.024,0-1.414c-0.391-0.391-1.024-0.391-1.414,0l-9.9,9.899c-0.385,0.385-0.385,1.029,0,1.414l9.9,9.9  c0.391,0.391,1.024,0.391,1.414,0c0.391-0.391,0.391-1.024,0-1.414L3.278,17h27.828c0.552,0,1-0.448,1-1  C32.106,15.448,31.658,15,31.106,15z"
      fill="<%= color %>"
      fill-rule="evenodd" />
    </svg>

  <% } else if (name === 'right') { %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
      height="<%= size %>"
      width="<%= size %>">
      <path clip-rule="evenodd" d="M32,16.009c0-0.267-0.11-0.522-0.293-0.714  l-9.899-9.999c-0.391-0.395-1.024-0.394-1.414,0c-0.391,0.394-0.391,1.034,0,1.428l8.193,8.275H1c-0.552,0-1,0.452-1,1.01  s0.448,1.01,1,1.01h27.586l-8.192,8.275c-0.391,0.394-0.39,1.034,0,1.428c0.391,0.394,1.024,0.394,1.414,0l9.899-9.999  C31.894,16.534,31.997,16.274,32,16.009z"
      fill="<%= color %>"
      fill-rule="evenodd" />
    </svg>

  <% } else if (name === 'light-mode') { %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
      height="<%= size %>"
      width="<%= size %>">
      <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
        <g fill="<%= color %>">
          <path d="M16,9 C15.4438648,9 15,8.54809015 15,7.9906311 L15,6.0093689 C15,5.44335318 15.4477153,5 16,5 C16.5561352,5 17,5.45190985 17,6.0093689 L17,7.9906311 C17,8.55664682 16.5522847,9 16,9 Z M23.7804188,23.7835927 C23.3871719,24.1768396 22.7537635,24.1711509 22.3595805,23.7769678 L20.9586165,22.3760039 C20.558383,21.9757704 20.5614674,21.3456898 20.9519917,20.9551655 C21.3452387,20.5619186 21.978647,20.5676073 22.3728301,20.9617903 L23.773794,22.3627543 C24.1740276,22.7629878 24.1709431,23.3930684 23.7804188,23.7835927 Z M16,20 C18.2091391,20 20,18.2091391 20,16 C20,13.7908609 18.2091391,12 16,12 C13.7908609,12 12,13.7908609 12,16 C12,18.2091391 13.7908609,20 16,20 Z M16,27.0063477 C15.4438648,27.0063477 15,26.5544378 15,25.9969788 L15,24.0157166 C15,23.4497008 15.4477153,23.0063477 16,23.0063477 C16.5561352,23.0063477 17,23.4582575 17,24.0157166 L17,25.9969788 C17,26.5629945 16.5522847,27.0063477 16,27.0063477 Z M20.9519917,11.0511821 C20.5587447,10.6579352 20.5644334,10.0245268 20.9586165,9.63034375 L22.3595805,8.22937981 C22.759814,7.82914626 23.3898945,7.83223071 23.7804188,8.222755 C24.1736658,8.61600196 24.1679771,9.2494103 23.773794,9.64359337 L22.3728301,11.0445573 C21.9725965,11.4447909 21.342516,11.4417064 20.9519917,11.0511821 Z M11.0480083,20.9551655 C11.4412553,21.3484125 11.4355666,21.9818208 11.0413835,22.3760039 L9.64041954,23.7769678 C9.24018599,24.1772014 8.61010546,24.1741169 8.21958117,23.7835927 C7.82633422,23.3903457 7.83202291,22.7569374 8.22620598,22.3627543 L9.62716992,20.9617903 C10.0274035,20.5615568 10.657484,20.5646412 11.0480083,20.9551655 Z M16,22 C12.6862913,22 10,19.3137087 10,16 C10,12.6862913 12.6862913,10 16,10 C19.3137087,10 22,12.6862913 22,16 C22,19.3137087 19.3137087,22 16,22 Z M4.99682617,16.0031738 C4.99682617,15.4470387 5.44873602,15.0031738 6.00619507,15.0031738 L7.98745728,15.0031738 C8.553473,15.0031738 8.99682617,15.4508891 8.99682617,16.0031738 C8.99682617,16.559309 8.54491632,17.0031738 7.98745728,17.0031738 L6.00619507,17.0031738 C5.44017935,17.0031738 4.99682617,16.5554586 4.99682617,16.0031738 Z M23.0031738,16.0031738 C23.0031738,15.4470387 23.4550837,15.0031738 24.0125427,15.0031738 L25.9938049,15.0031738 C26.5598207,15.0031738 27.0031738,15.4508891 27.0031738,16.0031738 C27.0031738,16.559309 26.551264,17.0031738 25.9938049,17.0031738 L24.0125427,17.0031738 C23.446527,17.0031738 23.0031738,16.5554586 23.0031738,16.0031738 Z M8.21958117,8.222755 C8.61282813,7.82950804 9.24623647,7.83519674 9.64041954,8.22937981 L11.0413835,9.63034375 C11.441617,10.0305773 11.4385326,10.6606578 11.0480083,11.0511821 C10.6547613,11.4444291 10.021353,11.4387404 9.62716992,11.0445573 L8.22620598,9.64359337 C7.82597243,9.24335982 7.82905688,8.61327929 8.21958117,8.222755 Z M8.21958117,8.222755" id="Oval 13"/>
        </g>
      </g>
    </svg>

  <% } else if (name === 'dark-mode') { %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
      height="<%= size %>"
      width="<%= size %>">
      <path d="M386,248.478  c0,78.864-63.941,142.805-142.805,142.805c-48.513,0-91.395-24.202-117.195-61.194c14.54,4.687,30.037,7.215,46.135,7.215  c83.018,0,150.321-67.303,150.321-150.321c0-23.778-5.521-46.258-15.346-66.237C353.886,144.197,386,192.587,386,248.478z"
        fill="none"
        stroke="<%= color %>"
        stroke-linecap="round"
        stroke-miterlimit="10"
        stroke-width="30"/>
    </svg>
  <% } %>

</span>
