<%
  var name = name || label.toLowerCase()
  var type = type || 'text'
  var icone = icone || false
%>

<div class="mat-input">
    <% if (type === 'textarea') { %>
    <textarea class="mat-input-field" id="<%= name %>" name="<%= name %>" required placeholder=" "></textarea>

  <% } else { %>
    <input class="mat-input-field" id="<%= name %>" type="<%= type %>" name="<%= name %>" required placeholder=" ">
  <% } %>

  <label class="mat-input-label" for="<%= name %>">
    <% if (icone) { %>
      <%- partial('../components/icone', { name: icone }) %>
    <% } %>

    <%= label %>
  </label>
</div>
