<!DOCTYPE html>
<html lang="<%= config.language %>">
    <head>
        <%- partial('partials/head') %>
    </head>
    <body>
        <%- partial('partials/navigation') %>

        <div class="content">
            <%- body %>
        </div>

        <%- partial('partials/footer') %>

        <%- js('js/script')%>
    </body>
</html>
