<!DOCTYPE html>
<html lang="<%= config.language %>" class="bg-gray-dark">
    <head>
        <%- partial('partials/head') %>
    </head>
    <body class="bg-white">
        <%- partial('partials/navigation') %>

        <div class="content">
            <%- body %>
        </div>

        <%- partial('partials/footer') %>

        <%- js('js/script')%>
    </body>
</html>
