

<%- partial('partials/header') %>

<div id="<%= page.template ? 'page-' + page.template : '' %>" class="page has-triangle has-triangle-after">
  <%- partial('./components/triangle', {color: 'white'}) %>

  <% if (page.template) { %>
    <%- partial('pages/' + page.template) %>
  <% } else { %>
    <div class="container">
      <%- page.content %>
    </div>
  <% } %>
</div>
