<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="<%= url_for('images/avatar.png') %>" type="image/png">

<%- feed_tag('/atom.xml') %>

<%- open_graph({
  title: titlecase(page.title),
  image: page.thumbnail || url_for('images/avatar.png')
}) %>

<title>
  <%- page.title ? titlecase(page.title) + " | " + titlecase(config.title) : titlecase(config.title) %>
</title>

<%- css('css/style') %>
