<%
  var header_img_url = page.featured_image ? page.featured_image.replace('.html', '/') : theme.default_header_img
  var title = title || page.title || ''
%>

<header id="page-header">
  <div class="header-background" style="background-image: url(<%= header_img_url %>)"></div>
  <div class="container pop pop-bottom">
    <h1><%= titlecase(title) %></h1>

    <% if (is_post()) {%>
      <div>
        <% if (page.author) { %>
          <small><b><%= page.author %></b></small>
        <% } %>

        <% if (page.date) { %>
          <small>le <%= date(page.date, 'DD/MM/YYYY') %></small>
        <% } %>
      </div>

      <br>

      <div>
        <%- list_tags(page.tags, {
            style: 'none',
            separator: ' ',
            class: 'btn btn-sm btn-border border-primary color-primary',
            show_count: false
          }) %>
      </div>


    <%} %>

  </div>
</header>
