<div id="navigation">
  <div class="container">
    <div class="grid">
      <div class="grid-item logo-wrapper">
        <a href="<%- url_for('/') %>"  class="btn btn-link">
          <%- image_tag('images/avatar.png', {alt: 'Benjamin CARADEUC', class: 'avatar'}) %>
        </a>
      </div>

      <div class="grid-item nav-wrapper">
        <nav>
          <% for(key in site.data.menu) { %>
            <a href="<%- url_for(site.data.menu[key].path) %>" class="btn btn-link
              <%= is_home() ? 'color-gray-dark' : 'color-white' %>
              <%= (is_current(site.data.menu[key].path) || is_post() && site.data.menu[key].path === '/blog') ? 'active' : ''%>">
              <%= site.data.menu[key].title %>
            </a>
          <% } %>
        </nav>
        <div class="nav-close-wrapper">
          <a href="#" class="btn btn-link no-decoration">
            <%- partial('../components/icone', { name: 'close', size: '2rem', color: '#fff' }) %>
          </a>
        </div>
      </div>

      <div class="grid-item nav-toggle-wrapper">
        <a href="#" class="btn btn-link no-decoration">
          <%- partial('../components/icone', { name: 'menu', size: '2rem', color: is_home() ? '#404040' : '#fff' }) %>
        </a>
      </div>
    </div>
  </div>
</div>
