<div id="navigation" class="pop pop-top">
  <div class="container">
    <div class="grid">
      <div class="grid-item logo-wrapper">
        <a href="<%- url_for('/') %>"  class="btn btn-link">
          <%- image_tag('images/avatar.png', {alt: 'Benjamin CARADEUC', class: 'avatar'}) %>
        </a>
      </div>

      <div class="grid-item color-switcher">
        <%- partial('../components/icone', { name: 'light-mode', size: '1.5em', color: 'var(--gray-dark)' }) %>

        <label for="toggle-mode" class="switch">
          <input type="checkbox" name="toggle-mode" id="toggle-mode">
          <span class="switch--slider"></span>
        </label>

        <%- partial('../components/icone', { name: 'dark-mode', size: '1.5em', color: 'var(--gray-dark)' }) %>
      </div>

      <div class="grid-item nav-wrapper">
        <nav>
          <% site.data.menu.menuItems.forEach(item => { %>
            <a href="<%- url_for(item.path) %>" class="btn btn-link
              <%= is_home() ? 'color-gray-dark' : 'color-white' %>
              <%= (is_current(item.path) || is_post() && item.path === '/blog') ? 'active' : ''%>">
              <%= item.title %>
            </a>
          <% }) %>
        </nav>
        <div class="nav-close-wrapper">
          <a href="#" class="btn btn-link no-decoration">
            <%- partial('../components/icone', { name: 'close', size: '2em', color: 'var(--white)' }) %>
          </a>
        </div>
      </div>

      <div class="grid-item nav-toggle-wrapper">
        <a href="#" class="btn btn-link no-decoration">
          <%- partial('../components/icone', { name: 'menu', size: '2em', color: is_home() ? 'var(--gray-light)' : 'white' }) %>
        </a>
      </div>
    </div>
  </div>
</div>
