<div class="grid">
  <% if(page.prev) { %>
    <div class="grid-item m-2">
      <a href="<%= page.prev.permalink %>" class="box btn btn-lg btn-border border-gray-light color-gray-light text-right icon-left">
        <%- partial('../../components/icone.ejs', { name: 'left'}) %>
        <small>Article suivant</small>
        <h3><%= page.prev.title %></h3>
      </a>
    </div>
  <% } else { %>
    <div class="grid-item m-2"></div>
  <% }%>

  <% if(page.next) { %>
    <div class="grid-item m-2 text-right">
      <a href="<%= page.next.permalink %>" class="box btn btn-lg btn-border border-gray-light color-gray-light text-left icon-right">
        <small>Article précédent</small>
        <h3><%= page.next.title %></h3>
        <%- partial('../../components/icone.ejs', { name: 'right'}) %>
      </a>
    </div>
  <% } else { %>
    <div class="grid-item m-2"></div>
  <% }%>
</div>
