<section id="big-social" class="has-triangle has-triangle-after">
  <%- partial('../../components/triangle') %>

  <div class="container">
    <div class="grid">
      <% site.data.social.socialItems.filter(s => !!s.url).forEach((social, i, arr) => { %>
        <a href="<%= social.url %>"
            class="grid-item xs-<%= arr.length %> text-center no-decoration color-gray font-bold"
            title="Venez voir mon <%= social.name %>!">
          <div class="box pop pop-bottom">
            <%- partial('../../components/icone', { name: social.key, size: '3em'}) %>

            <div class="social-label">
              <%= social.name %>
            </div>
          </div>
        </a>
      <% }) %>
    </div>
  </div>
</section>
